<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd" >
<configuration>

	<typeAliases>
		<package name="kr.co.turnup_fridger.vo"/>
	</typeAliases>
	<!-- environment를 설정하지 않음-> spring트랜젝션이 처리 -->
	<mappers>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/fridgerMapper.xml"/>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/MyIrdntMapper.xml"/>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/IrdntManageMapper.xml"/>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/RecipeInfoMapper.xml"/>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/RecipeIrdntMapper.xml"/>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/RecipeCrseMapper.xml"/>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/myMemoMapper.xml"/>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/shopMapper.xml"/>
		<mapper resource="kr/co/turnup_fridger/config/mybatis/mapper/fridgerGroupMapper.xml"/>
		
	
	</mappers>
</configuration>

